---
const {
    title,
    img
} = Astro.props
---

<a class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl" href="/clean-code">
    <img class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
    src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1401432508i/4099.jpg" alt="clean-code">
</a>