---
const books = [
    {
        id: 'clean-code',
        title: 'Programador Pragmatico',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1401432508i/4099.jpg'
    },
    {
        id: 'clean-code2',
        title: 'Programador Pragmatico',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1401432508i/4099.jpg'
    },
    {
        id: 'clean-code3',
        title: 'Programador Pragmatico',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1401432508i/4099.jpg'
    },

]
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
    <li>
        {
            
        }
    </li>
</ul>